
.tag-button{
    margin-top: 10px;

}
.tag-button button{
    background-color: blueviolet;
    color: #ffffff;
    width: 150px;
}
.tag-button button:hover{
    background-color: #ffffff;
    color: #8a2be2;
}